
:root {
--primary-text-color:#212121;
--secondary-text-color:#757575 ;
--title-text-color:black;
--three-text-color:#ffffff;
--accent-color:#2196f3;
--primary-fount-color:#F5F5F5;
--secondary-fount-color:#2F303A;
--three-fount-color:#f5f4fa;
}

body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

color:var(--primary-text-color);
background:var(--three-text-color); 


}
/*Скрытые заголовки*/
.visiblity-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;   
}
ul {
list-style: none;

}
a {
text-decoration: none;
}
/*--Шапка--*/

.page-heder {
background-color:var(--three-text-color);
}
/*Логотип*/
.logo {
font-family:'Raleway';
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.studio {
color:var(--title-text-color);

}
.web {
color:var(--accent-color);  
}
/*навигация сайта*/
.site-nav .link { 
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color:var(--primary-text-color);
}
.link-current {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
    
 color: var(--accent-color);  
} 
.site-nav .link:hover,
.site-nav .link:focus {
color:var(--accent-color);
}

/*Email and tell*/
.auth-nav .link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color:var(--secondary-text-color) ;
}
.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav .link:visited {
color:var(--accent-color);
}
/*--Герой--*/
.hero {
background:var(--secondary-fount-color);
}
/*Заголовок героя*/
.hero-title {
text-transform: uppercase;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing:0.06em;

color: var(--three-text-color);
}
/*Кнопка героя*/
.hero-but {
cursor: pointer; 
font-family: inherit; 
font-weight: 700;
font-size: 16px;
letter-spacing: 0.06em;

background:var(--accent-color);
color: var(--three-text-color);

}
.hero-but:hover,
.hero-but:focus {
background:var(--accent-color);
color: var(--three-text-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

 /*--Преимущества--*/
 .benefits .titles {
text-transform: uppercase;
font-size: 14px;
line-height: 1.14;
 }
 .benefits .text {
font-size: 14px;   
line-height: 1.71;

color:var(--secondary-text-color);
 }

 /*--Команда--*/
 .section-comands {
background:var(--three-fount-color);
 }
 .card {
background: var(--three-text-color);
 }
 /*Заголовки секций*/
 .section-titles {
font-weight: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
 }
 .comands .titles {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--primary-text-color);
 } 
 .comands .text {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-text-color);

 }
/*стили страницы партфолио*/

/*Таблица с кнопками*/
.buttons .button-primary {
font-family: inherit;
cursor: pointer; 
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;


 color:var(--three-text-color);
 background:var(--accent-color);
 
 
 }
 .buttons .button-secondary {
font-family: inherit;
cursor: pointer; 
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;

color:var(--primary-text-color);
  

 }
 .button-secondary:hover,
 .button-secondary:focus,
 .button-secondary:visited {
 background:var(--accent-color);
 color: var(--three-text-color);
 }
 /*Партфолио*/
 .partfolio .titles {
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;

 color:var(--primary-text-color); 
 
 }
 .partfolio .text {
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;

 color:var(--secondary-text-color);
     
 }
       
 /*--Подвал--*/address {
font-style: normal;
}

 .basement {
background:var(--secondary-fount-color);
 }
 .logo-studio {
color:var(--three-text-color) ;
 }
 .address .contact {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color:rgba(225, 225, 225, 0.6) ;
 }
.address .contact:hover,
.address .contact:focus,
.address .contact:visited {
 color:var(--accent-color); 
}
.address .address-contact {

font-weight: 400;
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;

 color:var(--three-text-color);
 }
 .address .address-contact:hover,
 .address .address-contact:focus {
color:var(--accent-color);
}
